name: Run tests

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9.1
      - uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.1.4
      - name: Install dependancies
        run: |
          poetry install
      - name: Lint
        run: |
          poetry run black .
          poetry run isort .
          poetry run mypy .
          poetry run flake8
      - name: Test
        run: |
          poetry run pytest
